@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, #150101, #6e0c0c, #e40c0c);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 3%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.logo{
    font-size: 1.1rem;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}



.profile{
    font-size: 1.1rem;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.navbar a{
    font-size: 1.15rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem; 
}



.icons{
    position: absolute;
    right: 10%;
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

main{
    margin-top: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}


.btn{
    
    padding: 1em 2.1em 1.1em;
    border-radius: 8px;
    margin: 8px;
    border: none;
    background-color: #ffffff;
    color: #6e0c0c;
    font-size: 0.85em;
    text-align: center;
    box-shadow: 0em -0.2rem 0em #000000 inset;
    font-weight: bold;

}

.btn:hover{
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #000000;
}

h2{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
}



@media (max-width: 992px) {

    .header{
        padding: 1.3rem 5%;
    }

    .container{
        margin-top: 10px;
        flex-direction: column;
    }


}

@media (max-width: 450px) {

    .icons{
        display: inline-flex;
    }

    .icons #close-icon{
        display: none;
    }

    .user-name{
        display: none;
    }
    .navbar{
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 9rem;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

      .navbar.active {
        display: block;
  }


    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }


}